@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-fira-code);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  button {
    outline: none;
  }
  a {
    outline-color: var(--black);
  }
}

@layer base {
  :root {
    --font-fira-code: 'Fira Code', monospace;
    --font-exo-2: 'Exo 2', sans-serif;
    --background: #ffffff;
    --background-white: #ffffff;
    --background-violet: #c69bbd;
    --background-light-green: #bbddab;
    --background-dark-green: #517530;
    --background-pink: #e895ad;
    --background-yellow: #f7db8b;
    --background-light-gray: #efefef;
    --foreground: #220904;
    --foreground-white: #ffffff;
    --foreground-gray: #b3b3b3;
    --foreground-pink: #e895ad;

    --black: #000000;
    --white: #ffffff;
    --green: #bbddab;
    --dark-green: #517530;
    --pink: #e895ad;
    --light-violet: #c69bbd;
    --red: #da1919;
    --gray-100: #efefef;
    --gray-200: #d7d7d7;
    --gray-300: #b3b3b3;
    --gray-400: #c3c3c3;
    --gray-500: #646464;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: var(--white);
    --primary-foreground: var(--black);
    --muted: var(--gray-500);
    --muted-foreground: var(--gray-300);
    --border: var(--black);
    --input: var(--black);
    --ring: var(--background-dark-green);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
